.container {
  display: flex;
  align-items: center;
  align-content: center;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 100px;
}

.container button {
  width: 360px;
}

.container button {
  background-color: var(--ligth-color);
  height: 80px;
  margin: 8px;
  padding: 20px;
  width: 90%;
}
