.container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.container button {
  background-color: var(--main-color);
  border: solid 1px var(--contrast-color);
  border-radius: 4px;
  color: var(--dark-color);
  height: 80px;
  margin: 8px;
  padding: 20px 10px;
  width: 90%;
}
