.container {
  background-color: var(--contrast-color);
  bottom: 0;
  color: var(--dark-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
  position: fixed;
  width: 360px;
}
