.container {
  align-items: center;
  background-color: var(--contrast-color);
  color: var(--dark-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
  position: fixed;
  top: 0;
  width: 360px;
}

.icon {
  color: var(--dark-color);
  font-size: 24px;
}
