.container {
  align-items: flex-start;
  /* background-color: var(--bege-color); */
  display: flex;
  flex-flow: row wrap;
  font-size: 16px;
  justify-content: space-around;
  max-height: 486px;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 360px;
}

.container p {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  align-items: center;
  background-color: var(--contrast-color);
  border: solid 1px var(--contrast-color);
  color: var(--main-color);
  display: -webkit-box;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  width: 100%;
}

.container img {
  border: solid 1px var(--contrast-color);
  border-radius: 8px 8px 0 0;
  padding: 12px;
}

.container div {
  display: flex;
  flex-flow: column;
  padding: 12px;
  width: 160px;
}
