.container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.container p {
  margin-bottom: 100px;
  text-align: center;
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.container button {
  background-color: var(--ligth-color);
  border-radius: 4px;
  color: var(--dark-color);
  margin: 8px;
  width: 100%;
}
